/* Reset. */
body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

/*

SUMÁRIO:

0 - Gerais
1 - Navbar
2 - Section Chamada
3 - Section valores-cafe
4 - Section sabores-cafe

*/

/* 0 - Gerais */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width:960px) {
    .container {
        max-width: 600px;
    }

    @media (max-width:600px) {
        .container {
            max-width: 300px;
        }
    }
}

.clear:after, .clear:before {
    content: "";
    display: table;
    clear: both;
}



/* 1 - Navbar */
nav {
    background: #000;
    padding: 20px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
}

nav ul li {
    display: inline-block;
    margin: 10px 10px;
}

nav ul li:after {
    content: "";
    background: #fafafa;
    width: 0;
    height: 5px;
    display:    block;
    transition: 0.3s;
}

nav ul li:hover:after {
    width: 100%;
}

nav ul {
    float: right;
}



/* 2 - Section Chamada */
#chamada {
    padding: 130px 0;
    background: url("../img/bg-intro.jpg") no-repeat center center;
    background-size: cover;
}

#chamada h1, #chamada h5 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

#chamada h1 {
    font-size: 3em;
    text-transform: uppercase;
}

#chamada h1::after {
    content: "";
    background: white;
    width: 20px;
    height: 4px;
    display: block;
    margin: 10px auto 0 auto;
}

#chamada h5{
    font-size: 1.125em;
    font-style: italic;
}



/* Section valores-cafe */
#valores-cafe h2 {
    font-size: 2.25em;
    margin: 40px 40px 20px 40px;
    text-align: center;
}

#valores-cafe .valor h3 {
    max-width: 220px;
    font-size: 2.25em;
    color: #fafafa;
    background: #2d2d2d;
    padding: 5px 0 10px 0;
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    position: relative;
    top: -25px;
}

#valores-cafe .valor {
    float: left;
    margin: 0 10px;
    max-width: 100%;
}

#texto-valores {
    padding: 0 5px;
    margin: 15px auto 50px auto;
    max-width: 460px;
    text-align: center;
    font-style: italic;
    font-size: 1.125em;
}

@media (max-width: 960px) {

    #valores-cafe .container {
        max-width: 600px;
    }

    #valores-cafe .valor img {
        max-width: 280px;
    }

    #valores-cafe .valor h3 {
        font-size: 1.125em;
    }

    @media (max-width: 600px) {

        #valores-cafe .container {
            max-width: 300px;
        }

        #valores-cafe .valor {
        margin: 10px auto;
        }
        
        #valores-cafe .valor img {
            max-width: 300px;
            margin: 0 auto;
        }

        #valores-cafe .valor h3 {
            font-size: 1.125em;
            margin: 0 auto;
        }
    }
}



/* 4 - Section sabores-cafe */
#sabores-cafe {
    background-color: #eedfa2;
    border:5px solid #c2b687;
}

#sabores-cafe .sabor {
    max-width: 300px;
    font-size: 0.875em;
    float: left;
    margin: 25px 10px;
}

#sabores-cafe .sabor h2 {
    text-align: center;
    font-size: 2.25em;
    margin: 0 0 10px 0;
}

#sabores-cafe p {
    text-align: center;
}

/* Círculos */
#sabores-cafe .sabor h2::before {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    margin: 20px auto;
    border: #fafafa solid 5px;
}

/* Tipos de Café */
#paulista::before {
    background: #492901;
    box-shadow: 0 0 0 5px #492901;
}

#carioca::before {
    background: #c17139;
    box-shadow: 0 0 0 5px #c17139;
}

#mineiro::before {
    background: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;
}

#link-tipos {
    display: table;
    font-size: 2.25em;
    text-decoration: none;
    color: #2d2d2d;
    border: 2px solid #2d2d2d;
    text-align: center;
    padding: 10px 10px;
    margin: 0 auto;
    transition: 0.3s;
}
#link-tipos:hover {
    background-color: #2d2d2d;
    color: #fafafa;
}